<main>
  <section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        Exciting tours for adventurous people
      </h2>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">You are going to fall in love with nature
        </h3>
        <p class="parapgraph">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem quibusdam odio voluptatum quod, suscipit ut
          nesciunt amet! Aut odio ullam harum temporibus ad in, autem iure rem obcaecati debitis aspernatur.
        </p>
        <h3 class="heading-tertiary u-margin-bottom-small"> Live adventure like you never had before        </h3>
        <p class="parapgraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quis optio facilis voluptas nemo culpa sequi consect..
        </p>
        <a href="" class="btn-text">Learn more &rarr;</a>
      </div>
      <div class="col-1-of-2">
        image composition
      </div>
    </div>
  </section>
</main>